@{
    string appId = "hx" + Guid.NewGuid().ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - 海·星の博客</title>
    <partial name="_Styles" />
    <style>
        .el-scrollbar__bar.is-horizontal {
            display: none !important;
        }
        .el-scrollbar__wrap {
            overflow-x: hidden;
        }
        .hx-alert {
            position: relative;
            padding: 0.75rem 1.25rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: 0.25rem;
        }
        .hx-alert-danger {
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
        }
    </style>
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="hx-dark" id="@appId" data-id="@appId">
        <el-container>
            <partial name="~/Views/Layout/VAside.cshtml" view-data="ViewData" />
            <el-container :class="isCollapse?'hx-body hx-aside-mini':'hx-body'">
                <partial name="~/Views/Layout/VHeader.cshtml" />
                <el-main> @RenderBody()</el-main>
            </el-container>
        </el-container>
    </div>
    <partial name="_Scripts" />
    <script src="~/vuejs/hx.common.js"></script>
    @RenderSection("scripts", required: false)
    <script>
            var app, hxVue = window.hxVue || {};
            app = new Vue({
                data() {
                    var hxData = {}
                    if (hxVue.data) {
                        const data = hxVue.data();
                        hxData = data.call(this)
                    }
                    return {
                        isCollapse: false,
                        loading: false,
                        showDrawer: false,
                        ...hxData,
                    }
                },
                methods: {
                    ...hxVue.methods,
                    onMenuSelect(menu) {
                        window.location.href = menu
                    },
                    handleCommand(command) {
                        window.location.href = command;
                    }
                },
                created: hxVue.created
            });
            app.$mount('#@appId');
    </script>
</body>

</html>
