@model Hx.IdentityServer.Model.ClientManager.ClientCreateModel
@{
    ViewBag.Title = "客户端编辑";
}
@section styles{
    
}
<div class="hx-register">
    @*ajax提交*@
    @*<form asp-route-returnUrl="@ViewData["ReturnUrl"]" data-ajax-method="POST" data-ajax="true">*@
    <form >
        <input type="hidden" name="Id" value="@ViewBag.ClientId" />
        <div class="form-row">
            <label class="col-sm-2 col-form-label"></label>
            <h3 class="col-sm-10 mb-4 text-center">创建用户</h3>
        </div>
        <div class="form-row mb-sm-3">
            <label asp-for="ClientId" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="ClientId" class="form-control" value="@Model.ClientId" />
                <span asp-validation-for="ClientId" class="text-danger small"></span>
            </div>
        </div>
        <div class="form-row mb-sm-3">
            <label asp-for="ClientName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="ClientName" class="form-control" value="@Model.ClientName" />
                <span asp-validation-for="ClientName" class="text-danger small"></span>
            </div>
        </div>
        <div class="form-row mb-sm-3">
            <label asp-for="AllowedGrantTypes" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="AllowedGrantTypes" class="form-control" value="@Model.AllowedGrantTypes" />
                <span asp-validation-for="AllowedGrantTypes" class="text-danger small"></span>
            </div>
        </div>
        <div class="form-row mb-sm-3">
            <label asp-for="AllowedScopes" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="AllowedScopes" class="form-control" value="@Model.AllowedScopes" />
                <span asp-validation-for="AllowedScopes" class="text-danger small"></span>
            </div>
        </div>
        <div class="form-row mb-sm-3">
            <label asp-for="AllowedCorsOrigins" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="AllowedCorsOrigins" class="form-control" value="@Model.AllowedCorsOrigins" />
                <span asp-validation-for="AllowedCorsOrigins" class="text-danger small"></span>
            </div>
        </div>
        <div class="form-row mb-sm-3">
            <label asp-for="RedirectUris" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="RedirectUris" class="form-control" value="@Model.RedirectUris" />
                <span asp-validation-for="RedirectUris" class="text-danger small"></span>
            </div>
        </div>
        <div class="form-row mb-sm-3">
            <label asp-for="PostLogoutRedirectUris" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="PostLogoutRedirectUris" class="form-control" value="@Model.PostLogoutRedirectUris" />
                <span asp-validation-for="PostLogoutRedirectUris" class="text-danger small"></span>
            </div>
        </div>
        <div class="form-row mb-4">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary w-100">注册</button>
                @*<input type="submit" class="btn btn-outline-secondary w-100" value="注册" />*@
            </div>
        </div>
    </form>
</div>
